<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
</head>

<body>
    <div class="test" id=test>ss </div>
    <script>
        var roomId = window.location.pathname.split('/room/')[1]; // 
        console.log(roomId)
        const socket = io('http://localhost:5000', {
            query: 'room=' + roomId
        })
        socket.on('connection')
        socket.on('message', () => {
            document.getElementById('test').innerHTML = 's' + document.getElementById('test').innerHTML

        })

    </script>
</body>

</html>